<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>My Website</title>
	<link rel="stylesheet" href="/layout.css">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
	
	<div class="off-canvas off-canvas-sidebar-show">
		
		<!-- off-screen toggle button -->
		<a class="off-canvas-toggle btn btn-primary btn-action" href="#sidebar-id">
			<i class="icon icon-menu"></i>
		</a>
		
		<div id="sidebar-id" class="off-canvas-sidebar">
			<!-- off-screen sidebar -->
			
			<ul class="nav">
				<li class="nav-item">
					<a href="/about">About</a>
				</li>
			</ul>
			
		</div>
		
		<a class="off-canvas-overlay" href="#close"></a>
		
		<div class="off-canvas-content">
			<!-- off-screen content -->
			
			<header class="navbar">
				<section class="navbar-section">
					<a href="/" class="navbar-brand mr-2">Home</a>
					<a href="/humans" class="btn btn-link">View Humans</a>
					<a href="/create-human" class="btn btn-link">Create Human</a>
				</section>
			</header>
			
			<main>
				{{{body}}}
			</main>
			
		</div>
	</div>
	
</body>
</html>