<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>My Website</title>
	<link rel="stylesheet" href="/layout.css">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
	
	<header>
		The header
	</header>
	
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/humans">All humans</a></li>
			<li><a href="/create-human">Create human</a></li>
		</ul>
	</nav>
	
	<main>
		{{{body}}}
	</main>
	
	<footer>
		<a href="/about">About</a>
	</footer>
	
</body>
</html>